# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# This files are produced by Visual Studio 2012
*.sdf
*.ipch
*.pdb
*.ilk
*.vsp
*.idb
*.cache
*.deps
*.lastbuildstate
*.log
*.tlog
*.psess
*.opensdf
*.vsps
*.res
*.suo
*.aps
*.db
*.opendb

# ignored dirs
Debug/*
Release/*
ipch/*
.svn